node_modules/

# Env files (nunca commitar segredos)
config/.env
config/.env.production
config/.env.development
config/.env.local
config/.env.test

**/generated/
dist/
.DS_Store

.cache/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
